<form action="/products" method="post" enctype="application/x-www-form-urlencoded">
    <input id='title' placeholder='tilte' className='border-2 border-black p3' name='title' type="text" />
    <input id='brand' placeholder='brand' className='border-2 border-black p3' name='brand' type="text" />
    <input id='description' placeholder='description' className='border-2 border-black p3' name='description' type="text" />
    <input id='thumbnail' placeholder='thumbnail' className='border-2 border-black p3' name='thumbnail' type="text" />
    <input id='category' placeholder='category' className='border-2 border-black p3' name='category' type="text" />
    <input id='rating' placeholder='rating' className='border-2 border-black p3' name='rating' type="number" />
    <input id='price' placeholder='price' className='border-2 border-black p3' name='price' type="number" /> <input id='discountPercentage' placeholder='discountPercentage' className='border-2 border-black p3' name='discountPercentage' type="number" />
<button>
Add
</button>
</form>