<style>
    div{
        border: 2px black;
        border-radius: 10px;
    }
</style>
<h1>hello</h1>
<% if(product) { %>
<div >
    <h1><%=product.title %></h1>
    <img src="><%=product.thumbnail %>" alt="">
    <p>><%=product.rating %></p>
    <p>><%=product.description %></p>
</div>
<% } %>